NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:23423/vault
JWT_SECRET=<YOUR_JWT_SECRET>
JWT_REGISTER_SECRET=<YOUR_JWT_REGISTER_SECRET>
JWT_RESET_PASSWORD_SECRET=<YOUR_JWT_RESET_PASSWORD_SECRET>
